:root{
    --wpr--primary-color: #063D30;
    --wpr--body-bg-color: #F2F0EC;
    --wpr--button-text-color: #121018;
    --wpr--button-color: #FFCF4E;
    --wpr--color-white: #fff;
    --wpr--color-black-300: #56605D;
    --wpr--transparent: transparent;

    }