:root{
    --wpr--primary-color: #063D30;
    --wpr--body-bg-color: #F2F0EC;
    --wpr--heading-2-color: #F8F3E7;
    
    --wpr-heading-3-color: #E0DEDA;--wpr--button-text-color: #121018;
    --wpr--button-color: #FFCF4E;
    --wpr--color-white: #fff;
    --wpr--color-black-300: #56605D;
    --wpr--color-black-300: #5A5860;
    --wpr--transparent: transparent;

    }