.wpr_sub_title {
  font-family: var(--font-family-3);
  font-size: var(--wpr-font-size-xs);
  font-weight: var(--wpr-font-weight-normal);
  line-height: var(--wpr-line-height-md);
}
.wpr_main_title {
  font-size: var(--wpr-font-size-lg);
  font-family: var(--font-family-2);
  font-weight: var(--wpr-font-weight-bold);
  line-height: var(--wpr-line-height-lg);
  letter-spacing: var(--wpr-letter-spacing-sm);
}
.wpr_main_sub_title_bg_text {
  font-family: var(--font-family-2);
  font-weight: var(--wpr-font-weight-semibold);
  line-height: var(--wpr-font-size-2lg);
  font-size: var(--wpr-font-size-5xl);
  letter-spacing: var(--wpr-letter-spacing-5xl);
}
