@use "../../utils/" as *;
.wpr_services_area {
  position: relative;
  margin-top: -190px;
  padding-bottom: 200px;
  overflow: visible;
  &_icon {
    margin-bottom: 20px;
  }
}
.wprservices {
  border-radius: 1rem 1rem 0 0;
  padding: 3.1875rem 0.7rem 3.25rem 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  @include wpr-transition(0.3s);
  &:hover {
    transform: translateY(-10px);
    background: var(--wpr--color-white);
    box-shadow: 0px 20px 60px 0px transprant;
  }
  & img {
    width: 80px;
    height: 80px;
  }
  &_content {
    flex-grow: 1;
    h6 {
      font-family: var(--wpr-font-heading);
      font-size: var(--wpr-font-size-sm);
      font-weight: var(--wpr-font-weight-bold);
      line-height: var(--wpr-line-height-lg);
      letter-spacing: var(--wpr-letter-spacing-xl);
      padding: 0 0.75rem;
      margin: 1.8125rem 0 1.75rem 0;
      color: var(--wpr--button-text-color);
    }
    & button {
      font-family: var(--wpr-font-body);
      color: var(--wpr--color-black-300);
      font-weight: var(--wpr-font-weight-normal);
      font-size: var(--wpr-font-size-xxxs);
      line-height: var(--wpr-line-height-xs);

      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        color: #000000;
      }
    }
  }
}
.box_shadow_red {
  background: var(--wpr--color-white);
  box-shadow: 0px 4px 0px 0px #f55;
}
.box_shadow_green {
  background: var(--wpr--color-white);
  box-shadow: 0px 4px 0px 0px #36e0d1;
}
.box_shadow_yellow {
  background: var(--wpr--color-white);
  box-shadow: 0px 4px 0px 0px #ffd94f;
}
.box_shadow_violet {
  background: var(--wpr--color-white);
  box-shadow: 0px 4px 0px 0px #b855ff;
}
