@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sue+Ellen+Francisco&display=swap");
:root {
  --wpr--primary-color: #063D30;
  --wpr--body-bg-color: #F2F0EC;
  --wpr--button-text-color: #121018;
  --wpr--button-color: #FFCF4E;
  --wpr--color-white: #fff;
  --wpr--color-black-300: #56605D;
  --wpr--transparent: transparent;
}

:root {
  --font-family-1: "Inter", serif;
  --font-family-2: "Fraunces", serif;
  --font-family-3: "Sue Ellen Francisco", serif;
  --wpr-font-heading: var(--font-family-2);
  --wpr-font-body: var(--font-family-1);
  --wpr-font-flaticon: var(--font-family-3);
  --wpr-font-weight-normal: 400;
  --wpr-font-weight-medium: 500;
  --wpr-font-weight-semibold: 600;
  --wpr-font-weight-bold: 700;
  --wpr-font-size-xxxs: 0.9375rem;
  --wpr-font-size-xxs: 1.125rem;
  --wpr-font-size-xs: 1.875rem;
  --wpr-font-size-sm: 1.5rem;
  --wpr-font-size-md: 3.125rem;
  --wpr-font-size-lg: 3.75rem;
  --wpr-font-size-xl: 5rem;
  --wpr-font-size-xxl: 5.625rem;
  --wpr-font-size-xxxl: 7.5rem;
  --wpr-line-height-xs: 1.5rem;
  --wpr-line-height-sm: 1.875rem;
  --wpr-line-height-md: 3.5rem;
  --wpr-line-height-md: 3.75rem;
  --wpr-line-height-lg: 4rem;
  --wpr-line-height-xl: 5rem;
  --wpr-line-height-xxl: 5.625rem;
  --wpr-line-height-xxxl: 7.25rem;
  --wpr-letter-spacing-xs: 0;
  --wpr-letter-spacing-xl: -0.02rem;
  --wpr-letter-spacing-xxl: -0.03rem;
  --wpr-letter-spacing-xxxl: −0.04rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------
	typography css start 
---------------------------------*/
body {
  font-family: var(--wpr-font-body);
  font-size: 16px;
  font-weight: normal;
  color: var(--wpr-text-body);
  line-height: 30px;
  background: var(--wpr--body-bg-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--wpr-ff-heading);
  color: var(--wpr-heading-primary);
  margin-top: 0px;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-family: var(--wpr-font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--wpr-text-body);
  margin-bottom: 15px;
  line-height: 30px;
}

a,
button,
p,
input,
select,
textarea,
li,
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
input[type=url],
textarea {
  outline: none;
  background-color: #fff;
  height: 56px;
  width: 100%;
  line-height: 56px;
  font-size: 14px;
  color: var(--wpr-common-black);
  padding-left: 26px;
  padding-right: 26px;
  border: 1px solid #e0e2e3;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=url]:focus,
textarea:focus {
  border-color: var(--wpr-theme-primary);
}
input[type=text]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=tel]:focus::placeholder,
input[type=number]:focus::placeholder,
input[type=password]:focus::placeholder,
input[type=url]:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

textarea {
  line-height: 1.4;
  padding-top: 17px;
  padding-bottom: 17px;
}

input[type=color] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 50%;
}

*::-moz-selection {
  background: var(--wpr-common-black);
  color: var(--wpr-common-white);
  text-shadow: none;
}

::-moz-selection {
  background: var(--wpr-common-black);
  color: var(--wpr-common-white);
  text-shadow: none;
}

::selection {
  background: var(--wpr-common-black);
  color: var(--wpr-common-white);
  text-shadow: none;
}

*::-moz-placeholder {
  color: var(--wpr-common-black);
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: var(--wpr-common-black);
  font-size: 14px;
  opacity: 1;
}

/*------------------------*/
/*	Common CSS*/
/*------------------------*/
.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.z-index-1 {
  z-index: 1;
}

.z-index-11 {
  z-index: 11;
}

.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.wpr_header_container {
  max-width: 1424px;
}
.wpr_header_area {
  display: flex;
  border-radius: 12px;
}
.wpr_header_transparent {
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  z-index: 999;
  display: n;
}
.wpr_header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 220px;
  width: 100%;
  height: 70px;
  background: url("/assets/images/logo/logo-bg-1.png") no-repeat left center;
  background-size: 100% 70px;
}
.wpr_header_logo a {
  overflow: hidden;
}
.wpr_header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.wpr_header_menu {
  margin-left: 20px;
}
.wpr_header_menu_items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.wpr_header_menu_items li a {
  font-weight: 600;
  font-size: 16px;
}
.wpr_header_contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wpr_header_call a {
  font-weight: 600;
  font-size: 15px;
  color: var(--wpr--primary-color);
}
.wpr_header_btn a {
  margin: 15px 5px;
  color: var(--wpr--primary-color);
  font-weight: 600;
  padding: 22px 30.5px;
  background: var(--wpr--button-color);
  border-radius: 12px;
  font-size: 16px;
}

.wpr_banner {
  background: url("/assets/images/banner/banner-bg-1.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 18.125rem;
  padding-bottom: 21.69rem;
  position: relative;
  overflow: hidden;
}
.wpr_banner_content h5 {
  font-family: var(--font-family-3);
  color: var(--wpr--button-color);
  font-size: var(--wpr-font-size-md);
  font-weight: var(--wpr-font-weight-normal);
  line-height: var(--wpr-line-height-md);
  letter-spacing: var(--wpr-letter-spacing-xs);
}
.wpr_banner_content h1 {
  font-family: var(--wpr-font-heading);
  color: var(--wpr--color-white);
  font-size: var(--wpr-line-height-xxxl);
  font-weight: var(--wpr-font-weight-bold);
  line-height: var(--wpr-line-height-xxxl);
  letter-spacing: var(--wpr-letter-spacing-xxl);
}
.wpr_banner_btn_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3.75rem;
}
.wpr_banner .wpr_donate_btn {
  padding: 1.5rem 2.0313rem;
  background-color: var(--wpr--button-color);
  color: var(--wpr--button-text-color);
  font-family: var(--font-family-1);
  text-align: center;
  text-decoration: none;
  border: none;
  font-weight: 600;
  border-radius: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.wpr_banner .wpr_donate_btn:hover {
  transform: scale(1.05);
}
.wpr_banner .wpr_donate_btn:focus {
  outline: none;
}
.wpr_banner .wpr_involved_btn {
  padding: 1.5rem 2.0313rem;
  background-color: var(--wpr--color-white);
  color: var(--wpr--button-text-color);
  font-family: var(--font-family-1);
  text-align: center;
  text-decoration: none;
  border: none;
  font-weight: 600;
  border-radius: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.wpr_banner .wpr_involved_btn:hover {
  transform: scale(1.05);
}
.wpr_banner .wpr_involved_btn:focus {
  outline: none;
}
.wpr_banner_video {
  margin-left: 10.5rem;
}
.wpr_banner_border {
  position: absolute;
  bottom: 0;
}
.wpr_banner_hand-shape {
  position: absolute;
  left: 9rem;
  top: 22rem;
  animation: wave 3s linear infinite;
}
.wpr_banner_wave-shape {
  position: absolute;
  left: 7rem;
  bottom: 15rem;
  animation: wave 3s linear infinite;
}

.wpr_services_area {
  position: relative;
  margin-top: -190px;
  padding-bottom: 200px;
  overflow: visible;
}
.wpr_services_area_icon {
  margin-bottom: 20px;
}

.wprservices {
  border-radius: 1rem 1rem 0 0;
  padding: 3.1875rem 0.7rem 3.25rem 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  text-align: center;
  height: 100%;
}
.wprservices:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.wprservices img {
  width: 80px;
  height: 80px;
}
.wprservices_content {
  flex-grow: 1;
}
.wprservices_content h6 {
  font-family: var(--wpr-font-heading);
  font-size: var(--wpr-font-size-sm);
  font-weight: var(--wpr-font-weight-bold);
  line-height: var(--wpr-line-height-lg);
  letter-spacing: var(--wpr-letter-spacing-xl);
  padding: 0 0.75rem;
  margin: 2.8125rem 0 2.75rem 0;
  color: var(--wpr--button-text-color);
}
.wprservices_content button {
  font-family: var(--wpr-font-body);
  color: var(--wpr--color-black-300);
  font-weight: var(--wpr-font-weight-normal);
  font-size: var(--wpr-font-size-xxxs);
  line-height: var(--wpr-line-height-xs);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.wprservices_content button:hover {
  color: #000000;
}

.box_shadow_red {
  background: var(--wpr--color-white);
  box-shadow: 0px 4px 0px 0px #f55;
}

.box_shadow_green {
  background: var(--wpr--color-white);
  box-shadow: 0px 4px 0px 0px #36e0d1;
}

.box_shadow_yellow {
  background: var(--wpr--color-white);
  box-shadow: 0px 4px 0px 0px #ffd94f;
}

.box_shadow_violet {
  background: var(--wpr--color-white);
  box-shadow: 0px 4px 0px 0px #b855ff;
}

/*# sourceMappingURL=style.css.map */
